@import url(../Public.css);

.container-for-profile-page-main {
    min-height: 100vh;
    padding: 120px 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    font-family: "Raleway", sans-serif;
    background-color: var(--background-default);
    gap: 60px;

}

.content-for-profile-page {
    width: 78.875rem;
    height: 612px;
    border: 0.5px ridge #D0D0D0;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.profile-image-editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 489px;
    height: 504px;
    justify-content: center;
}

.button-changer {
    width: 343px;
    height: 50px;
    background-color: var(--green-color);
    color: var(--pure-light);
    font-size: 21px;
    font-weight: 300;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
}

.image-place {
    width: 427px;
    height: 354px;
    background-color: #D9D9D9;
}

.data-title {
    font-size: 30px;
    font-weight: 600;
    color: var(--pure-black);
}

.data-box-title {
    font-size: 24px;
    color: var(--pure-black);
}

.data-box {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.data-with-data-title {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.data-form-name-dll {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.data-box-title {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.personal-data-box {
    display: flex;
    flex-direction: row;
}

.change-contact-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.personal-data-change-contact-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-box-mod {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.contact-box-mod svg {
    width: 32px;
    height: 32px;
    color: var(--green-color);
    cursor: pointer;
}

.contact-box-mod svg:hover {
    color: var(--footer-green-dark-color);
}


#overlay-effect {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    justify-content: center;
    align-items: center;
}

#overlay-effect-change-contact {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    justify-content: center;
    align-items: center;
}

.overlay-for-address {
    width: 682px;
    height: 518px;
    background-color: var(--pure-light);
    /* z-index: 1000 */
    overflow-y: auto;
    border-radius: 10px;
    padding: 30px;
    font-family: var(--source-sans-pro);
    display: flex;
    flex-direction: column;
    gap: 30px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.off-button {
    font-size: 40px;
}

.off-button:hover {
    color: #54754e;
}

.title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-bar p {
    font-size: 30px;
    font-weight: 600;
}

.form-for-address {
    display: flex;
    flex-direction: column;
}

.per-text-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.per-text-input p {
    font-size: 21px;
    font-weight: 400;
}

.per-text-input input {
    border: 1px ridge #5B5B5B;
    border-radius: 10px;
    font-family: var(--source-sans-pro);
    font-size: 21px;
    padding: 5px 20px;
}

.per-text-input textarea {
    border: 1px ridge #5B5B5B;
    border-radius: 10px;
    font-family: var(--source-sans-pro);
    font-size: 21px;
    padding: 5px 20px;
}

.per-text-input p4 {
    font-size: 16px;
    font-weight: 300;
    color: #A6A6A6;
    text-align: end;
}

.button-for-overlay {
    display: flex;
    justify-content: flex-end;
}


.button-for-overlay button {
    color: var(--pure-light);
    font-size: 24px;
    border-radius: 10px;
    width: 100px;
    height: 45px;
    background-color: var(--green-color);
    border: none;
}

.input-radio-button {
    display: flex;
    gap: 40px;
}

.input-1,
.input-2 {
    display: flex;
    gap: 20px;
}