body {
    font-family: "Balthazar", serif;
    background-color: var(--background-default);
}

.main-container {
    display: flex;
    flex-direction: column;
    padding: 16vh 5vw 6vh;
}

.page-content {
    display: flex;
    justify-content: space-between;
}

.page-title {
    font-size: calc(var(--text-large)*2);
    font-weight: 300;
}

.continue-shopping {
    font-size: var(--text-medium);
}

.continue-shopping a {
    color: black;
    transition: all ease-in-out 0.2s;
}

.continue-shopping a:hover {
    color: var(--hovered-text);
    transition: all ease-in-out 0.2s;
}

.left-side {
    display: flex;
    flex-direction: column;
}

.cart-items {
    display: flex;
    border-bottom: 2px solid var(--stroke-color);
    gap: 3rem;
    padding: 3rem 0;
}

.cart-items.last {
    border: none;
}

.cbox-select-product input {
    display: none;
}
  
.cbox-select-product {
    align-self: center;
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
  
.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: #2196F300;
    border-radius: 0.25em;
    transition: all 0.25s;
}

.cbox-select-product input:checked ~ .checkmark {
    background-color: var(--green-color);
}
  
.checkmark:after {
    content: "";
    position: absolute;
    transform: rotate(0deg);
    border: 0.1em solid black;
    left: 0;
    top: 0;
    width: 1.05em;
    height: 1.05em;
    border-radius: 0.25em;
    transition: all 0.25s, border-width 0.1s;
}
  
.cbox-select-product input:checked ~ .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border-color: #fff0 white white #fff0;
    border-width: 0 0.15em 0.15em 0;
    border-radius: 0em;
    transform: rotate(45deg);
}

.product-thumb {
    height: 10rem;
}

.item-description {
    display: flex;
    flex-direction: column;
    width: 35vw;
    gap: 1rem;
}

.buy-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-part,
.second-part,
.last-part {
    display: flex;
    flex-direction: column;
}

.first-part {
    gap: 1rem;
}

.product-name {
    font-size: var(--text-large);
}

.detail-btn {
    width: fit-content;
    font-size: var(--text-small);
    color: black;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    transition: all ease-in-out 0.2s;
}

.detail-btn:hover {
    color: var(--hovered-text);
    transition: all ease-in-out 0.2s;
}

.second-part {
    align-items: end;
    justify-content: center;
}

.ori-price {
    font-size: calc(var(--text-medium)*0.8);
    color: var(--hovered-text);
    text-decoration: line-through;
}

.active-price {
    font-size: calc(var(--text-large)*0.8);
}

.last-part {
    /* justify-content: center; */
    /* padding-top: 3.5rem; */
    /* gap: 2rem; */
    /* justify-content: space-evenly; */
}

.icons {
    width: 1.5rem;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.icons:hover {
    fill: var(--hovered-text);
    transition: all ease-in-out 0.2s;
}

.subtotal {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 2rem;
    padding: 3rem 0;
}

.order-summary {
    width: 35rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    gap: 1rem;
}

.summary-title {
    align-self: center;
}

.separate-line {
    border: 1px solid var(--stroke-color);
    margin: 1rem 0;
}

.count-total {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.subtotal-item {
    display: flex;
    justify-content: space-between;
}

.subtotal-text,
.shipping-text,
.subtotal-price,
.shipping-price {
    font-size: var(--text-medium);
}

.subtotal-item.total {
    font-size: var(--text-medium);
}

.total-part {
    display: flex;
    justify-content: space-between;
}

.total-text,
.total-price {
    font-size: var(--text-large);
}

.continue-checkout {
    font-size: var(--text-medium);
    color: var(--background-default);
    background-color: var(--green-color);
    border: none;
    border-radius: 6px;
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.continue-checkout:hover {
    background-color: var(--hovered-button);
    transition: all ease-in-out 0.2s;
}

/* .popup-detail {
    width: 40rem;
    background-color: var(--background-default);
    border-radius: 6px;
    padding: 3rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.3s, top 0.3s;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s, top 0.3s;
} */

.popup-detail, .popup-notes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup-content {
    position: absolute;
    top: calc(50% + 40px);
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: var(--background-default);
    border-radius: 10px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.123);
    transition: all 0.3s ease-in-out;
}

.popup-title {
    font-size: calc(var(--text-large)*1.2);
    margin-bottom: 2vh;
}

.section-title {
    font-size: var(--text-large);
}

.delivery, .receiver {
    display: flex;
    justify-content: space-between;
}

.delivery-section, .receiver-section {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.label {
    width: 12vw;
    color: var(--hovered-text);
    font-size: var(--text-medium);
}

.value {
    width: 20vw;
    font-size: var(--text-medium);
}

.popup-detail.active, .popup-notes.active {
    display: block;
}

.popup-detail.active .popup-content, .popup-notes.active .popup-content {
    transition: all 0.3s ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.notes-description {
    font-size: var(--text-medium);
    
}

/* .input-box {
    width: 40rem;
    font-size: var(--text-medium);
    padding: 1rem;
    border-radius: 5px;
    border: solid var(--stroke-color) 1px;
} */

.input-box {
    width: 40rem;
    font-size: calc(var(--text-small)*1.2);
    padding: 1rem;
    background-color: var(--background-default);
    border-radius: 10px;
    border: solid var(--stroke-color) 2px;;
    outline: none;
    transition: .3s;
}
  
.input-box:hover {
    box-shadow: 0 0 0 2px rgba(31, 109, 43, 0.186);
}
  
.input-box:focus {
    box-shadow: 0 0 0 3px var(--green-color);
}

.save-btn {
    margin-top: 30px;
    background-color: var(--green-color);
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    width: 8vw;
    align-self: flex-end;
    font-size: var(--text-medium);
    color: var(--background-default);
    transition: all 0.3s ease-in-out;
}

.save-btn:hover {
    background-color: var(--hovered-button);
    transition: all 0.3s ease-in-out;
}

.close-button {
    width: 20px;
    height: 22px;
    align-self: flex-end;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.close-button:hover {
    fill: var(--hovered-text);
    transition: all ease-in-out 0.2s;
}