@import url(../CSS/Public.css);

.container {
    font-family: "Source Sans 3", serif;
    background-color: var(--background-default);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    padding: 0 30vw;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.image-modifier-logo {
    height: 60px;
}

.sign-in-text {
    font-weight: 300;
    gap: 0;
}

.email {
    position: relative;
}

.input-email {
    border: solid 2px #D0D0D0;
    border-radius: 1rem;
    background: none;
    width: 35vw;
    padding: 1rem;
    font-size: 1.2rem;
    color: black;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.email-label {
    position: absolute;
    justify-self: center;
    top: -3px;
    left: 1rem;
    font-size: 1.5rem;
    color: #8D8D8D;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input-email:focus, .input-email:valid {
    outline: none;
    border: 2px solid #73A16A;
}

.input-email:focus ~ label, .input-email:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: #F8F9F1;
    padding: 0 .2em;
    color: #73A16A;
    font-size: 1.4rem;
}

.continue {
    align-self: center;
}

.continue-button {
    border: none;
    font-family: "Source Sans 3", serif;
    font-weight: 250;
    background-color: #73A16A;
    font-size: 1.5rem;
    color: #F8F9F1;
    padding: 8px 65px;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.continue-button:hover {
    background-color: #648E5C;
    transition: all ease-in-out 0.2s;
}

.continue-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    font-weight: 350;
    justify-content: center;
}

.continue-text:before,
.continue-text:after {
    background-color: black;
    content: "";
    display: inline-block;
    height: 1px;
    width: 10vw;
}

.login-with {
    display: flex;
    gap: 3vw;
    justify-content: center;
}

.logwith-button {
    padding: 12px;
    border-radius: 50%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 5px;
    background-color: white;
    cursor: pointer;
    transition: all .6s ease;
}
  
.logwith-button img {
    height: 40px;
    width: 40px;
}
  
.logwith-button:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.24) 2px 2px 8px;
}

.terms-create-account {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-weight: 350;
}

.linked-text {
    color: #3894FF;
    text-decoration: none;
    transition: all .6s ease;
}

.linked-text:hover {
    text-decoration: underline;
    transition: all .6s ease;
}

.seperate-line {
    width: 15vw;
}

.copyright {
    font-weight: 350;
    align-self: center;
}