@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balthazar&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-default: #f8f9f1;
    --pure-black: #000000;
    --hovered-text: #555555;
    --hovered-button: #648E5C;
    --pure-light: #ffffff;
    --golden-title: #c6a969;
    --green-color: #73a16a;
    --footer-green-color: #e3f0db;
    --footer-green-dark-color: #a5c695;
    --stroke-color: #d0d0d0;
    --raleway: "Raleway", sans-serif;
    --balthazar: "Balthazar", serif;
    --source-sans-pro: "Source Sans 3", sans-serif;
    --text-huge: 3.5rem;
    --text-large: 1.875rem;
    --text-medium: 1.5rem;
    --text-small: 1rem;
}

footer {
    font-family: var(--raleway);
}