.container {
    font-family: "Source Sans 3", serif;
    background-color: var(--background-default);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 50px 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.image-modifier-logo {
    height: 60px;
}

.main-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    gap: 16px;
}

.welcome-text {
    width: 100%;
    font-weight: 300;
}

.input-box {
    position: relative;
    width: 100%;
}

.input-text {
    border: solid 2px #D0D0D0;
    border-radius: 1rem;
    background: none;
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    color: black;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.input-label {
    position: absolute;
    justify-self: center;
    top: 0;
    left: 1rem;
    font-size: 1.2rem;
    color: #8D8D8D;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input-text:focus, .input-text:valid {
    outline: none;
    border: 2px solid #73A16A;
}

.input-text:focus ~ label, .input-text:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: #F8F9F1;
    padding: 0 .2em;
    color: #73A16A;
    font-size: 1.4rem;
    top: 0;
}

.submit-button {
    border: none;
    font-family: "Source Sans 3", serif;
    font-weight: 250;
    background-color: #73A16A;
    font-size: 1.5rem;
    color: #F8F9F1;
    padding: 8px 4vw;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.submit-button:hover {
    background-color: #648E5C;
    transition: all ease-in-out 0.2s;
}

.linked-text {
    color: #3894FF;
    text-decoration: none;
    transition: all .6s ease;
}

.linked-text:hover {
    text-decoration: underline;
    transition: all .6s ease;
}

.copyright {
    font-weight: 350;
}