.input-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.input-text p {
    width: 90%;
    overflow-x: scroll;
}

.input-text p::-webkit-scrollbar {
    display: none;
}

.linked-text.forgot {
    font-size: 16px;
}

.input-box.password {
    display: flex;
    justify-content: end;
}

.show-hide-pass{
    position: absolute;
    align-self: center;
    width: 30px;
    cursor: pointer;
    margin-right: 17px;
    opacity: 0.8;
}