.continue-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    font-weight: 350;
    justify-content: center;
}

.continue-text:before,
.continue-text:after {
    background-color: black;
    content: "";
    display: inline-block;
    height: 1px;
    width: 10vw;
}

.login-with {
    display: flex;
    gap: 3vw;
    justify-content: center;
}

.logwith-button {
    padding: 13px;
    border-radius: 50%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 5px;
    background-color: white;
    cursor: pointer;
    transition: all .6s ease;
}
  
.logwith-button img {
    height: 35px;
    width: 35px;
}
  
.logwith-button:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.24) 2px 2px 8px;
}

.terms-create-account {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-weight: 350;
}

.seperate-line {
    width: 15vw;
}