body {
    background-color: var(--background-default);
}

.page{
    width: calc(100vw-200px);
    display: flex;
    justify-content: space-between;
    margin: 79px 100px 30px 100px;
}

.right{
    width: 75%;
    margin-top: 30px;
}

.right2{
    font-family: var(--source-sans-pro);
    font-size: var(--text-huge);
}

.apa2{
    margin-top: 20px;
    font-family: var(--raleway);
    font-size: 2rem;
    font-weight: bold;
}

.apa3{
    font-size: var(--text-medium);
    font-family: var(--raleway);
    margin-top: 10px;
    line-height: 2rem;
    margin-bottom: 30px;
}

.sub1{
    font-size: var(--text-medium);
    font-family: var(--raleway);
    margin: 30px 0px;
    line-height: 2rem;
}

.sub2{
    font-size: var(--text-medium);
    font-family: var(--raleway);
    margin-top: 10px;
    line-height: 2rem;
    text-align:justify;
    text-justify:values;
}

.sub3{
    font-weight: bold;
}

.point{
    margin-left: 30px;
}

.shipping{
    background-color: var(--green-color);
    border-radius: 10px;
    color: var(--pure-light);
}

.top2 .shipping {
    color: var(--pure-light);
}